
h1 span, h2 span, h3 span,
h1, h2, h3{
    color: #000;
    font-family: Montserrat Bold;
    line-height: 37px;
    font-weight: bold; 
    margin-bottom: 20px;
}

h1 span,
h1{
  font-size: 50px;
}

h2 span,
h2{
  font-size: 40px;
}

h3 span,
h3{
  font-size: 26px;
}

p{
  margin:20px 0;
}

b, strong {
  color:#000;
}

footer b, footer strong {
  color:#fff;
}


span.wpcf7-list-item-label::before, span.wpcf7-list-item-label::after {
    content: " ";
    margin-left: 10px;
}

#svgContainer2,
#svgContainer {
      z-index: -10;
      position: absolute;
}


#pagina_blog > .tipo_3.col-md-9{
   width:70%;
}

#pagina_blog > .sidebar.col-md-3{
   width:30%;
}

#pagina_namidia .destaque_categorias {
    min-height: 340px;
}

.pagina_inicial .tipo_4 > .bloco_post > .thumbnail_post {
    margin-bottom: 18px;
}

.pagina_inicial .destaque_categorias h3 span,
.pagina_inicial .destaque_categorias h3{
  font-size: 40px;
}

#pagina_namidia .tipo_1.destaque_categorias > .bloco_post {
    padding: 0 30px 30px 30px;
    text-align: left;
}

#pagina_namidia .thumbnail_post {
  height: 200px;
  margin-bottom: 40px;
}

#pagina_namidia .thumbnail_post img {
    opacity: 0;
}


.notas{
  float: left;
  max-width: 20%;
  text-align: left;
  margin-left: 20px;
}


#pagina_contato textarea{
  height: 171px;
  margin-bottom: 10px;
}

.socialicons a,
.socialicons{
  color: #4c5a67;
  font:16px Arial Regular;
}
.socialicons{
  float:left;
  margin: 0 20px 20px 0px;

}

.socialicons img{
  margin-right: 10px;
}
.socialicons .txt{
  margin-top: 14px;
}

.socialicons a,
.socialicons b,
.socialicons span,
.socialicons img,
.socialicons .txt{
  float: left;
  font-family: Arial;
}

#pagina_contato .icone{
  color:orange;
  font-size: 20px;
}

#pagina_blog .tipo_1.destaque_categorias > .bloco_post {
    padding: 30px 0;
}

#pagina_namidia,
#pagina_blog{
  padding: 50px 120px;
  float: left;
} 

#pagina_blog .destaque_categorias.tipo_1 > .bloco_post p {
  font:19px Arial;
  color:#777;
}
#pagina_blog .destaque_categorias.tipo_1 > .bloco_post .data span {
  color:#555;
  font:12px Arial;
}

#pagina_blog .destaque_categorias.tipo_1 > .bloco_post h4 {
  font:22px Arial;
  color:#000;
}



#pagina_blog .destaque_categorias.tipo_1 > .bloco_post .data {
  margin-top: 0 !important;
}

#pagina_blog .destaque_categorias.tipo_1 > .bloco_post > .thumbnail_post {
    max-width: 50%;
    height: 220px;
}

.pagina_depoimento .destaque_categorias.tipo_1 > .bloco_post > .thumbnail_post {
    border-radius: 100%;
    width: 160px;
     height: 160px !important;
}

.pagina_depoimento .notas b{
  float: left;
  color: #555;
  width: 100%;
  font: bold 19px Arial;
}

.pagina_depoimento .notas h5{
  font:Bold 14px Arial;
  color:#000;
}

.pagina_depoimento .notas h3{
  border: none;
  font-size: 60px;
  text-align: left;
  color: #000;
}

.pagina_depoimento .notas h4{
  font-size: 19px !important;
}
.pagina_depoimento .destaque_categorias.tipo_1  .thumbnail_post{
  max-width: initial !important;
}



.tipo_1 > .bloco_post > .thumbnail_post {
  border: none;
}


.destaque_categorias > .bloco_post > .thumbnail_post > img {
    opacity: 0;
}


.diagrama_metodologia{
  float: left;
  width: 35%;
}
.diagrama_metodologia p{
text-align: center;
    font-size: 12px;
    font-family: Arial Regular;
    font-weight: initial;
    color: #555;
    line-height: 14px;
    padding: 0 20px;
}

.diagrama_metodologia .ibagem{
  border: 5px solid rgb(188,132,215);
  border-radius: 100%;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  height: 150px;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
} 

.diagrama_metodologia:first-child,
.diagrama_metodologia:last-of-type{
  width: 30%;
}


.sidebar .destaque_categorias > .bloco_post {
     padding: 0 0 15px 0 !important; 
     float: left; 
}

.slide_home .seta_dir{
        margin-left: 10px !important;
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
      }

      .slide_home .seta_esq {
        margin-left: -35px !important;
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
      }



#portfolio > .row{
  margin: 0;
}

.blocove h3{
  color: #fff !important;
}
.blocove p{
  font-size: 16px;
  text-align: justify !important;
}
.blocove.rochoo{
  background: #763496;
}

.blocove.vermelho{
  background: #da374a;
}

.blocove{
  padding: 40px 60px;
  text-align: center;
  color:#fff !important;
  letter-spacing: -1px;
  z-index: 10px;
  position: absolute;
  top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.awesome-img:hover .blocove{
      transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    -ms-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    opacity: 1;
}


.centervertical{
  position: absolute;
  top:50%;
   -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 32px;

}

.blocove.azul{
  background: #316bc2;
}

.awesome-img{
    display: inline-block;
    position: relative;
    width: 100%;
}


#menu_topo #menu_3 {
    margin-right: 26px;
}

footer#rodape .copyright > div.container > div {
    float: left;
    width: 33.33%;
    margin-top: 6px;
    margin-left: 20px;
        font-size: 10px;
}

main {
  padding-bottom: 80px;

}
#pagina_blog  .bloco_post > .content_post {
    float: left;
    width: 50%;
    padding-left: 15px;
    text-align: left;
}

#pagina_blog .bloco_post > .content_post {
    padding-left: 30px;
}

#pagina_blog .sidebar  .content_post {
    padding-left: 15px;
}



.wpcf7 form.sent{
  display: none;
}

#portfolio .photo .awesome-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}


.thumbnailhide{
  opacity: 0 !important;
}

#portfolio .photo {
    width: 20%;
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.conteudo_post #portfolio .photo {
     filter: grayscale(100%);
}

#pagina_portfolio #portfolio .photo {
    padding: 0;
}

.conteudo_post #portfolio .photo:hover{
      -webkit-transition: 500ms -webkit-filter linear;
      -moz-transition: 500ms -moz-filter linear;
      -moz-transition: 500ms filter linear;
      -ms-transition: 500ms -ms-filter linear;
      -o-transition: 500ms -o-filter linear;
      transition: 500ms filter linear, 500ms -webkit-filter linear;

      filter: grayscale(0%);
}


.fa-phone-alt{
  font-size: 15px !important;
}

.fa-facebook-square, .fa-instagram{
	font-size: 20px !important;
}

#social_icons_top .container{
  margin-right: 0;
}

#social_icons_top{
	font-size:11px;
	font-family: Arial;
	font-weight: Bold;
	width: 100%;
	background: #000;
	padding: 8px;
}


#social_icons_top ul{
	float:right;
	margin:8px 0 0 0;
}

#social_icons_top span,
#social_icons_top ul li{
	padding: 0 5px;
}

#social_icons_top span {
    
    font-family: Arial;
    font-size: 12px;
}

#social_icons_top ul li{
	float: left;
}
#social_icons_top ul{
	list-style: none;
}

#menu_topo .span,
#social_icons_top ul,
#social_icons_top a{
	color:#fff;
}

.prematricula:hover{
  background:#FBB084;
}


.prematricula:hover,
input[type=submit]:hover,
.destaque_categorias .todososposts:hover,
.tipo_4 > .bloco_post .btn:hover,
.lado-texto a:hover,
.rocho:hover,
.botaoazul:hover,
.prematricula,
input[type=submit],
.destaque_categorias .todososposts,
.tipo_4 > .bloco_post .btn,
.lado-texto a,
.rocho,
.botaoazul, 
#menu_3 li > a:hover{
  transition: color .5s linear;
    -moz-transition: color .5s linear;
    -webkit-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
}

.prematricula:hover,
input[type=submit]:hover,
.destaque_categorias .todososposts:hover,
.tipo_4 > .bloco_post .btn:hover,
.lado-texto a:hover,
.rocho:hover,
.botaoazul:hover,
.prematricula,
input[type=submit],
.destaque_categorias .todososposts,
.tipo_4 > .bloco_post .btn,
.lado-texto a,
.rocho,
.botaoazul {
   transition: background .5s linear;
    -moz-transition: background .5s linear;
    -webkit-transition: background .5s linear;
    -ms-transition: background .5s linear;
    -o-transition: background .5s linear;
}


.botaoazul:hover {
  background: #62DBF0;
}

.botaoazul {
    padding: 6px 30px;
    border-radius: 20px;
    background: #20cceb;
    float: left;
    font-size: 12px;
    margin-left: 6px;
    color: #000 !important;
    text-decoration: none !important;
    font-family: Arial;
    float: right;
}

.rocho:hover {
  background: #D5B0E6 !important;
}

.rocho{
  background:#bc84d7 !important;
}



#menu_3 li > a {
	padding: 8px 14px;
    color: #000;
    font-family: Arial !important;
    font-size: 11px;
    font-style: normal;
    font-weight: Bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
}


#menu_3 li > a:hover {
   color: #f98644;
}

.prematricula {
    background: #f98644;
    border-radius: 20px;
    color: #fff !important;
}

#menu_3{
	margin-top: 24px !important;
}

#menu_3 li {
    margin: 0 !important;
}



#pequena_logo_topo {
    max-height: 80px;
}

#menu_topo.navbar-default {
    border: none !important;
    height: 100px;
    padding: 10px 0;
    margin:0;
}


.slide_home .item{
	height: 520px;
}
.slide_home .item .container{
	padding: 40px 0;
}

.slide_home .lado-texto p,
.slide_home .lado-texto{
  font-size: 20px;
  text-align: left;
}


.slide_home .catbloclink{
  padding-left: 0;
  font-size: 20px;
    font-weight: initial !important;
}

.carousel-indicators li {
    background-color: rgba(255,255,255,.4);
    border: none;
}

input[type=submit]:hover,
.botao_enviar_prematricula .btn:hover,
.destaque_categorias .todososposts:hover,
.botaonoslidedahomeolocoqueclassegrande a:hover{
  background: #000 !important;
  color:#fff !important; 
}
.botaonoslidedahomeolocoqueclassegrande{
	width: 100%;
	float: left;
	margin-top:15px;
}

.direita h1,
.direita p,
.direita{
	text-align: right !important;
}

input[type=submit]:hover{
  background: none;
  color:#000;
}

input[type=submit],
.destaque_categorias .todososposts,
.lado-texto a{
	border: 3px solid #000;
    border-radius: 25px;
    padding: 10px 34px;
    color:#000;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    float: none;
}

.direita a{
	float: right;
}

.lado-texto h1 {
  font-size: 54px !important;
  color: #000;
  font-family: Montserrat Bold !important;
  line-height: 53px !important;
  letter-spacing: -3px;
  font-weight: bold;
  margin-top: 20px;
}

.lado-texto{
  width: 46%;
  float:left;
  padding: 20px;
}

.slide_home .lado-texto p{
      font-size: 17px;
      line-height: 18px;
}

.lado-imagem img{
	max-width: 100%;
}

.lado-imagem{
  width: 50%;
  float: left;
  padding-right: 15px;
  text-align: right;
}

.lado-imagem iframe{
  min-height: 350px;
  width: 100%;
}


.carousel-control {
    text-shadow: none;
    opacity: 1;
}

@media (min-width: 768px){
  .mobile{
    display: none !important;
  }

  .desktop{
    display: initial !important;
  }
  .slide_home .container.desktop{
    display: table !important;
  }
}

/*======= Portfolio home =========*/

#pagina_portfolio .photo{
	float:left;
	width: 33.333%
}


.strong-view.simple .testimonial-inner {
    padding: 20px 20px;
}


.fundoddepoimento {
    float: left;
    width: 100%;
    padding: 26px 60px;
    background-size: auto 100%;
    min-height: 1053px;
    text-align: center;
    background-image: url(../imagens/logos/fundoimagemdepoimento.jpg);
}


.fundoddepoimento .wp-video{
  text-align: center;
  margin-bottom:40px;
}

h3.testimonialstitulo, 
.fundoddepoimento .textwidget h3 span,
.fundoddepoimento .textwidget h3 {
    border-bottom: none;
    border-color: -moz-use-text-color -moz-use-text-color #424241 !important;
    float: left;
    font: bold 40px Montserrat Bold;
    width: 100%;
    text-align: center;
    color:#fff;
    margin-top: 10px;
    margin-bottom: 33px;
}

.testimonialstitulo{
  color:#000 !important;
  margin-top: 50px !important;
}
/*=====================================*/


/*================ Posts recentes ================*/

.tipo_4 > .bloco_post .btn:hover{
	color:#fff !important;
}

.destaque_categorias{
	text-align: center;
}

.destaque_categorias.tipo_2 > .bloco_post > .thumbnail_post, 
.destaque_categorias > .bloco_post > .thumbnail_post::after {
    border: none;
}

.destaque_categorias.tipo_2 > .bloco_post > .content_post {
    width: 60%;
}

.destaque_categorias.tipo_2 > .bloco_post > .thumbnail_post{
    max-width: 40%;
    min-height: 90px;
    margin-top: 3px;
    float: left;
}

/*.tipo_2 > .bloco_post > .thumbnail_post img{
  opacity: 0;    
}
*/
.destaque_categorias.tipo_2 > .bloco_post > .thumbnail_post, 
.tipo_4 > .bloco_post > .thumbnail_post {
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tipo_4 > .bloco_post > .thumbnail_post{
  min-height: 200px;
}


.destaque_categorias.tipo_2 > .bloco_post > .thumbnail_post{
  min-height: 90px;
}




.destaque_categorias.tipo_2 > .bloco_post > .content_post h4,
.destaque_categorias.tipo_2 h4,
.tipo_4 > .bloco_post h4{
	font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    color:#000;
    text-align: left;
    margin: 8px 0;
}

.destaque_categorias.tipo_2 > .bloco_post > .content_post h4{
	font-size: 12px;
}

.destaque_categorias.tipo_2 p{
	text-align: left;
}

.destaque_categorias.tipo_2 > .bloco_post span {
    font-size: 10px;
}


.destaque_categorias.tipo_2 > .bloco_post > p,
.txt_descricao, .destaque_categorias > .bloco_post > p {
    font-size: 14px;
    font-weight: initial;
    font-family: Arial;
    color:#555555;
    height: 67px;
    overflow: hidden;
    max-height: 70px;
    text-align: left;
}




.tipo_4 > .bloco_post .btn{
	text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial;
    background-color: #f98644;
    color: #fff;
    border-radius: 30px;
    padding: 15px 60px;
    margin-top: 15px;
}


.tipo_4 > .bloco_post .btn:hover{
  background: #FA9B63;
}


.destaque_categorias > .bloco_post.esquerda {
    text-align: center;
}




/*=====================================*/


/*================= Página ====================*/

header#pagina_cabecalho.page_width h1{
	color:#fff;
}
header#pagina_cabecalho.page_width {
    float: left;
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: #bc84d7;
    padding: 42px;
}

/*=====================================*/


/*=================Barra midia====================*/
.barramidia{
	width: 100%;
	float: left;
	background: #763496;
	padding: 50px 30px;
}
.barramidia h3 a,
.barramidia h3{
	color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: Montserrat Bold;
    margin-bottom:60px;
    margin-top:0px;
    text-decoration: none;
}

.barramidia img{
	max-width: 250px;
    text-align: center;
}

/*=====================================*/

/*================ Form rodape =====================*/



.form_footer input{
	margin-bottom: 6px;
}

.form_footer textarea{
	max-height: 100px;
}

.form_footer{
	float: right;
}
.form_footer input[type=submit]{
  margin: 15px 0;
    padding: 10px 60px;
    float: right;
    border-color: #f47d3a !important;
    color: #fff !important;
    border-radius: 20px;
    border: 2px solid #f47d3a !important;
    font-size: 12px; 
}
.form_footer input[type=submit]:hover{
  background: #f47d3a !important;
  color:#fff !important; 
}

/*=====================================*/

.depoimentos_recentes .thumbnail_post{
  float: left;
  width: 40%;
}


.depoimentos_recentes .content_post{
  float: left;
  width: 73%;
  margin-left: 15px;
}

.depoimentos_recentes{
  padding: 15px;
}

.depoimentos_recentes,
.testimonial{
  background: rgb(255,255,255, 0.8);
  border-radius: 20px;
   width: 31% !important;
  margin: 0 35px 40px 0 !important;
  float: left !important;
  text-decoration: none;
}

.testimonial{
  padding: 0 !important;
}

.depoimentos_recentes{
  padding:15px;
}


.depoimentos_recentes,
.strong-view.simple .testimonial-heading {
    margin-left: 87px;
}


.depoimentos_recentes:last-of-type,
.strong-view .testimonial:last-of-type{
  margin: 0 !important;
}



.depoimentos_recentes .thumbnail_post img{
  opacity: 0;
}
.depoimentos_recentes .thumbnail_post,
.testimonial-image{
  border-radius: 100%;
  overflow: hidden;
      width: 70px;
    height: 70px;
    background-size: cover;
    margin-top: 22px;
    background-repeat: no-repeat;
    background-position: center top;
}

.depoimentos_recentes .content_post h4,
.testimonial h3,
h3.testimonial-heading a,
h3.testimonial-heading{
  font:Bold 19px Arial !important;
  color:#424241 !important;
  text-align: left;
}

.depoimentos_recentes .content_post p,
.testimonial p {
    margin-bottom: 0;
    padding-bottom: 0;
    font: 100 14px Arial;
    color:#555555;
    text-align: left;
}


.strong-view.simple .testimonial-image img {
    background: none;
    width: 100%;
    height: auto;
}


/*=============== Rodapé ======================*/
.rodape1{
	background: 
}
.copyright{
	padding:15px 0 0 0;
	background: #000;
}

.copyright .textwidget{
	margin-top: 2px;
}

footer,
.copyright .textwidget,
.copyright{
    width: 100%;
    font-family: Arial;
    font-weight: initial;
    font-size: 8px;
    color: #fff !important;
}

footer#rodape {
    padding: 0;
    height: 0;
}

.rodape1{
    background-image: url('../imagens/fundo-footer.jpg') !important;
   font-family: Arial;
	font-size: 10px;
	color: #fff !important;
	font-weight: initial;
	    line-height: 18px;
	font-size: 10px;
	padding:60px 0;
   /*background-image: url("../imagens/fundo_slide.jpg");*/
}

footer span {
    padding: 0 7px;
    line-height: 22px;
}

footer#rodape section.copyright {
    padding-top: 20px;
}

footer a,
footer#rodape .textwidget{
	color: #fff !important;
	font-weight: initial;
}

.rodape1:after{
   /*background-color:rgb(0,0,0, 0.8) !important;*/
   background-image: url("../imagens/fundo_slide.jpg");
   position: absolute;
}

footer#rodape  .widget_nav_menu,
footer#rodape  .textwidget{
	float: left;
	width: 25%;
	padding: 0;
	margin:0;
	padding-right: 15px;
  font-size: 14px;
}

.widget_nav_menu h2,
footer#rodape .textwidget h3 span,
footer#rodape .textwidget h3,
.rodape1 h3 span,
.rodape1 h3,
footer h2{
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	color: #f47d3a;
}



footer .menu li a{
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul {
	padding:0 9px;
	line-height: 20px;
}

footer ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f47d3a; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  font-size: 1.3em;
}

.botao_enviar_prematricula{
  border-top:1px solid #c0c0c0; 
  text-align:center;
  margin: 30px;
  padding-top: 40px;
}


.wpcf7-list-item-label{
  float: right;
}

span.wpcf7-list-item {
    width: 30%;
}

.wpcf7-form input{
  margin-bottom: 10px;
}

/*=====================================*/

@media (max-width: 768px){
  #pagina_contato h3 {
    float: left;
  }

  #pagina_blog > .sidebar.col-md-3 {
    width: 100%;
  }

  .destaque_categorias.tipo_1 > .bloco_post > .thumbnail_post {
    float: none;
    text-align: center;
    width: 170px !important;
    height: 170px !important;
    display: block;
    margin: 0 auto;
  }

  .notas{
    max-width: 100%;
    margin:0;
  }

  .notas,
  #pagina_blog > .tipo_3.col-md-9 {
    width: 100%;
  }

  #portfolio .photo {
    width: 50%;
  }

  span.wpcf7-list-item {
    width: 100%;
  }


  .notas, .pagina_depoimento .notas h3,
  #pagina_blog .bloco_post > .content_post,
  .botaonoslidedahomeolocoqueclassegrande, 
  header#pagina_cabecalho h1,
  .slide_home .lado-texto p, .slide_home .lado-texto {
  
    text-align: center;
  }

  .slide_home .seta_dir,
  .slide_home .seta_esq {
    top: 90%;
  }


  .slide_home .seta_dir {
    margin-left: -15px !important;
  }
  .slide_home .seta_esq {
    margin-left: -10px !important;
  }

  #pagina_blog .bloco_post > .content_post {
    width: 100%;
    padding: 0 !important;
  }

  #pagina_blog .destaque_categorias.tipo_1 > .bloco_post > .thumbnail_post {
    max-width: 100%;
  }

  #pagina_namidia, #pagina_blog {
    padding: 50px 15px;
    width: 100%;
    float: left;
  }

  #svgContainer2,
  #svgContainer {
    display: none;
  }

  .diagrama_metodologia{
    width: 100% !important;
  }

  #menu_topo.navbar-default{
      float: left;
      width: 100%;
      height: auto;
      background: #fff;
  } 

  #menu_topo .span, #social_icons_top ul, #social_icons_top a {
      margin: 5px;
      text-align: center;

  }

  #menu_topo.navbar-default .navbar-nav > li > a {
    color: #000;
  }


  #myCarousel .lado-texto img {
          width: 60%;
    text-align: center;
  }

  .lado-texto {
    width: 100%;
    float: left;
    padding: 20px;
  }

  .lado-texto h1 {
    letter-spacing: -1px;
    font-size: 22px !important;
    line-height: 28px !important;
  }


  .slide_home .lado-texto p {
      font-size: 17px;
      line-height: 18px;
      margin: 10px 0;
  }


  #pagina_portfolio .photo {
    float: left;
    width: 100%;
}
  

  .fundoddepoimento {
    padding: 26px 15px;
  }

  .depoimentos_recentes, .testimonial {
    width: 100% !important;
  }

  .depoimentos_recentes .thumbnail_post, .testimonial-image {
      width: 200px;
      height: 200px;
      float: none;
      margin: 0 auto;
   }
   .barramidia {
      text-align: center;
   }
   .barramidia img{
      margin: 15px;
    }

    footer#rodape .widget_nav_menu, footer#rodape .textwidget {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-right: 15px;
        font-size: 14px;

          background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
    }

  header#pagina_cabecalho h1 {
      line-height: 47px;
      font-size: 34px;
      text-align: left;
  }

  header#pagina_cabecalho.page_width {
    padding: 15px;
  }

  .diagrama_metodologia {
      width: 100%;
  }

  .destaque_categorias.tipo_2 > .bloco_post > .thumbnail_post {
    max-width: 100%;
  }


  .destaque_categorias.tipo_2 > .bloco_post > .content_post {
    width: 100%;
  }

  .destaque_categorias.tipo_2 > .bloco_post > .content_post p {
    margin: 0;
  }
  .destaque_categorias.tipo_2 > .bloco_post > .content_post h4 {
      font-size: 14px;
      margin-top: 20px;
  }

  .desktop{
    display: none !important;
  }
  .mobile{
    display: initial !important;
  }
  
  .background_txt_thumb {
      position: absolute;
      width: 100%;
      left: 0%;
      top: 0%;
      height: 1000px;
      background-color: #000;
      opacity: 0.6;
      z-index: 1;
  }

  #rolldownslide,
  .slide_home .botao_azul{
    display: none;
  }


} 